<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Article %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Title %><br />
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :Content %><br />
    <%= f.text_area :address %>
  </div>
  <%= recaptcha_tags :public_key => '6LdMmsYSAAAAACZIp1f-YsaO0-08_ogsSDieDrs4' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
