<center><h1>Listing Artilces</h1></center>

<hr/>
<%= link_to 'New Article', new_user_path %>

<% @users.each do |user| %>
<% if author_signed_in? %>
  <table>
    <tr><td>Article:</td>
    <td><%= user.name %><td></tr><br>
    <tr><td>Title:</td>
    <td><%= user.mail %></td></tr><br>
    <tr><td>Content:</td>
    <td><%= user.address %></td></tr><br>
    <tr><td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr><br>
<% end %>
<% end %>
</table>
<br>
<br>
<hr/>
<%= will_paginate(@users) %>

<br />


