
<center>
<h1> Article details </h1>
<hr/>
</center>
<p id="notice"><%= notice %></p>

<p>
  <b>Article:</b>
  <%= @user.name %>
</p>

<p>
  <b>Title:</b>
  <%= @user.mail %>
</p>
<p>
  <b>Content:</b>
  <%= @user.address %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<hr/>
